<section  class="flex flex-col gap-32 justify-center items-center h-full pb-32">
    <div class="flex justify-center object-center">
        <div class="flex flex-col justify-center items-center object-center gap-12 sm:gap-16">
            <h2 id="flip-card" class="text-4xl sm:text-5xl lg:text-6xl font-semibold tracking-widest text-white">
                Flip Cards
            </h2>
            <div class="flex flex-wrap flex-col justify-center lg:flex-row gap-12 sm:gap-16 transition-all ">
                <div *ngFor="let service of services" class="group h-96 w-96 [perspective:1000px] p-10 sm:p-8 md:p-6 lg:p-5">
                    <div class="relative h-full w-full rounded-xl shadow-xl transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                        <div class="absolute inset-0 h-full w-full rounded-xl [backface-visibility:hidden]">
                            <img
                                *ngIf="service.imageUrl"
                                class="object-cover cursor-pointer object-left h-full w-full rounded-xl"
                                [src]="service.imageUrl"
                                [alt]="service.name"
                                width={320}
                                height={320}
                            />
                            <p class="md:my-6 text-2xl text-white">{{ service.name }}</p>
                        </div>
                        <div class="absolute inset-0 h-full w-full rounded-xl bg-black/80 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]">
                            <div class="flex min-h-full flex-col items-center justify-center">
                                <h2 class="text-2xl font-bold mb-4">{{ service.name }}</h2>
                                <p class="text-lg text-pretty text-center mb-4">
                                    {{ service.description }}
                                </p>
                                <button class="my-2 bg-sky-800 hover:bg-sky-700 text-white font-bold py-2 px-4 w-auto rounded-xl inline-flex items-center">
                                    <span>Schedule Service</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h-[2px] w-11/12 bg-gradient-to-r from-blue-800 via-sky-700 to-blue-500 rounded-xl"></div>
</section>


