<div class="flex justify-center items-center h-20 w-full">
    <div class="flex justify-between items-center h-4/6 w-11/12 p-4 rounded-lg bg-blue-950 text-white">
        <div class="flex items-center relative ">

            <h2 class="font-sans text-lg font-semibold tracking-widest hidden sm:inline">Hynnova</h2>
            <h3 class="text-tiny tracking-widest absolute top-6 right-8 hidden sm:inline">DIGITAL HEALT</h3>
            <img src="./assets/segno-grafico-hynnova.svg" width="30" alt="logo" class="">

            <select name="menu" id=""  class="text-sky-600 sm:hidden cursor-pointer w-[4rem] p-[1px] bg-transparent">
                <option value="">Menu</option>
                <option value="home">Home</option>
                <option value="contatti">Contatti</option>
                <option value="about">About</option>
            </select>

        </div>
        <div>
            <ul class="flex items-center gap-3">
                <li class="btn-link hidden sm:inline">Home</li>
                <li class="btn-link hidden sm:inline">Contatti</li>
                <li class="btn-link hidden sm:inline">About</li>
            </ul>
        </div>
        <div class="flex items-center justify-between gap-3">
            <button class="btn-login">Login</button>
            <button class="btn-login">Sign in</button>
        </div>
    </div>
</div>

