<div class="flex flex-col justify-around items-center h-96 w-full bg-blue-400">
    <h1 class="text-6xl">My cards</h1>
    <div class="flex flex-col justify-around items-center sm:flex-row sm:justify-around sm:gap-6">
        <img alt="img" [src]="img" class=" hover:preserve3d hover:hover:animate-flip rounded object-fill delay-1000 drop-shadow-2xl h-40 w-40 sm:w-52 sm:h-52 sm:min-w-52 cursor-pointer  "/>
        <img alt="img" [src]="img" class=" hover:preserve3d hover:hover:animate-flip rounded object-fill delay-1000 drop-shadow-2xl h-40 w-40 sm:w-52 sm:h-52 sm:min-w-52 cursor-pointer "/>
        <img alt="img" [src]="img" class=" hover:preserve3d hover:hover:animate-flip rounded object-fill delay-1000 drop-shadow-2xl h-40 w-40 sm:w-52 sm:h-52 sm:min-w-52 cursor-pointer "/>
    </div>
</div>




