/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .rotate-180 {
        transform: rotateY(180deg);
    }
    .preserve-3d {
        transform-style: preserve-3d;
    }
    .perspective {
        perspective: 1000px;
    }
    .backface-hidden {
        backface-visibility: hidden;
    }
}

@layer components {
    .btn-link {
        @apply bg-white text-blue-950 rounded-xl w-20 p-1 text-center font-semibold cursor-pointer active:bg-cyan-200
    } ;
    .btn-login {
        @apply bg-cyan-500 text-white rounded-xl w-20 p-1 text-center font-semibold cursor-pointer active:bg-cyan-200
    }
}
